/* 

.dropdown .dropdown-menu a{
  color: black;
  font-size: 16px;
}
.btn-primary{
  background-color: #f5b54e;
  border:none;
  color: black;
  font-size: 16px;
}

.container-fluid .nav-bottom .nav-link{
  font-size: 1.6rem;
} */
